* {
    box-sizing: border-box;
}

#root {
    display: flex;
}

.App {
    margin: 0 auto;
}

.button {
    font-size: 30px;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 50vw;
    min-height: 500px;

    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    outline: 1px solid black;
}

.chat-footer {
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-window {
    width: 90%;
}

.message-body {
    border-top: 1px solid gray;
}

.msg-header {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.nik {
    margin: 0;
    color: gray;
    margin-right: 30px;
}

.datetime {
    margin: 0;
    color: gray;
}

.message-text {
    margin: 0;
    margin-bottom: 15px;
}
